= render "partials/navigation"
.service-page
  .header-content
    / <img src="src/images/security-2.jpg" alt="Header-img">
  .header-text
    %h3 Services
    %h5 Browse through our service and make your choice
%section.container
  #service-row-top.row
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Security Guard
            %a
              %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Close Protection
            %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Event Security
            %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Construction
            %button{:type => "button"} browse
  / This is where the top service row ends
  #service-row-middle.row
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Hospitality Security
            %button{:type => "button"} browse
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Retail Security
            %button{:type => "button"} browse
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Concierge Security
            %button{:type => "button"} browse
  / This is the end of the middle service row
  #service-row-bottom.row
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Corporate/Office
            %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Hotel Security
            %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Mobile Security
            %button{:type => "button"} browse
    .col-xs-12.col-sm-6.col-md-3.lg-3
      .service-card.z-depth-1
        %img.img-responsive{:alt => "Header-img", :src => "assets/security-2.jpg"}
          .service-card-text
            %h3 Industrial Security
            %button{:type => "button"} browse
