= render "partials/navigation"
.service-page
  .header-content
    / %img{:src=>"assets/service_header.jpg", :alt=>"Header-img"}
    .header-image-cover
  .header-text.w3-center
    %h1.w3-allerta.w3-animate-zoom Services
    %h3.w3-animate-bottom Browse through our service and make your choice
%section.services.container
  #service-row-top.row
    .col-xs-6.col-sm-6.col-md-3.lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/soular_guard_small.jpg"}
          .service-card-text
            %h3 Security Guard
            %a{:href => "/services/security_guard"}
              %button browse
    .col-xs-6.col-sm-6.col-md-3.lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/close_protection_small.jpg"}
          .service-card-text
            %h3 Close Protection
            %a{:href => "/services/close_protection"} 
              %button.btn.btn-primary browse
              
    .col-xs-6.col-sm-6.col-md-3.lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/event_security_small.jpg"}
          .service-card-text
            %h3 Event Security
            %a{:href => "/services/event_security"}
              %button browse
    .col-xs-6.col-sm-6.col-md-3.lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/construction_security_small.jpg"}
          .service-card-text
            %h3 Construction
            %a{:href => "/services/construction_security"}
              %button browse
  / This is where the top service row ends
  #service-row-middle.row
    .col-xs-6.col-sm-4.col-md-4.col-lg-4
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/hospitality_security_small.jpg"}
          .service-card-text
            %h3 Hospitality Security
            %a{:href => "/services/hospitality_security"}
              %button browse
    .col-xs-6.col-sm-4.col-md-4.col-lg-4
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/retail_security_small.jpg"}
          .service-card-text
            %h3 Retail Security
            %a{:href => "/services/retail_security"}
              %button browse
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/concierge_security_small.jpg"}
          .service-card-text
            %h3 Concierge Security
            %a{:href => "/services/concierge_security"}
              %button browse
  / This is the end of the middle service row
  #service-row-bottom.row
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/corporate_security_small.jpg"}
          .service-card-text
            %h3 Corporate/Office
            %a{:href => "/services/corporate_security"}
              %button browse
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/hotel_security_small.jpg"}
          .service-card-text
            %h3 Hotel Security
            %a{:href => "/services/hotel_security"}
              %button browse
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/mobile_security_small.jpg"}
          .service-card-text
            %h3 Mobile Security
            %a{:href => "/services/mobile_security"}
              %button browse
    .col-xs-6.col-sm-6.col-md-3.col-lg-3
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/industrial_security_small.jpg"}
          .service-card-text
            %h3 Industrial Security
            %a{:href => "/services/industrial_security"}
              %button browse


= render "partials/footer"