= render "partials/navigation"
.service-page
  .header-content
    / %img{:src=>"assets/service_header.jpg", :alt=>"Header-img"}
    .header-image-cover
  .header-text
    %h1.w3-allerta.w3-animate-zoom Services
    %h3.w3-animate-bottom Browse through our service and make your choice
%section.services.container
  #service-row-top.w3-row
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/soular_guard_small.jpg"}
          .service-card-text
            %h3 Security Guard
            %a{:href => "/security_guard"}
              %button browse
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/close_protection_small.jpg"}
          .service-card-text
            %h3 Close Protection
            %a{:href => "/close_protection"} 
              %button.btn.btn-primary browse
              
    .w3-col.s12.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/event_security_small.jpg"}
          .service-card-text
            %h3 Event Security
            %a{:href => "/event_security"}
              %button browse
    .w3-col.s12.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/construction_security_small.jpg"}
          .service-card-text
            %h3 Construction
            %a{:href => "/construction_security"}
              %button browse
  / This is where the top service row ends
  #service-row-middle.w3-row
    .w3-col.s6.m4.l4.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/hospitality_security_small.jpg"}
          .service-card-text
            %h3 Hospitality Security
            %a{:href => "/hospitality_security"}
              %button browse
    .w3-col.s6.m4.l4.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/retail_security_small.jpg"}
          .service-card-text
            %h3 Retail Security
            %a{:href => "/retail_security"}
              %button browse
    .w3-col.s12.m4.l4.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/concierge_security_small.jpg"}
          .service-card-text
            %h3 Concierge Security
            %a{:href => "/concierge_security"}
              %button browse
  / This is the end of the middle service row
  #service-row-bottom.w3-row
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/corporate_security_small.jpg"}
          .service-card-text
            %h3 Corporate/Office
            %a{:href => "/corporate_security"}
              %button browse
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/hotel_security_small.jpg"}
          .service-card-text
            %h3 Hotel Security
            %a{:href => "/hotel_security"}
              %button browse
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/mobile_security_small.jpg"}
          .service-card-text
            %h3 Mobile Security
            %a{:href => "/mobile_security"}
              %button browse
    .w3-col.s6.m3.l3.s-item
      .service-card.w3-card-4
        %img.img-responsive{:alt => "Header-img", :src => "assets/industrial_security_small.jpg"}
          .service-card-text
            %h3 Industrial Security
            %a{:href => "/industrial_security"}
              %button browse


= render "partials/footer"