#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
	.carousel-inner{:role => "listbox"}
		.item.active
			%img{:alt => "...", :src => "assets/security-1.jpg"}
				.carousel-caption
					%h2 Caption One

		.item
			%img{:alt => "...", :src => "assets/security-2.jpg"}
				.carousel-caption
					%h2 Caption Two
