%section.container
	.home-form
		%h1 Get in touch

		.w3-row
			.w3-col.s12.m4.l4.quote-text
				%h2 
				%p 102 Pentoville Road
				%p London
				%p NW9 8KM
				%br
				%p Email: admin@soular.com
				%p Telephone: 0203467592
			.w3-col.s12.m8.l8.quote-form
				%form
					.form-group
						%label{:for => "name"} Name
						%input#name.form-control{:placeholder => "Your name", :type => "name"}/
					.form-group
						%label{:for => "companyName"} Company
						%input#companyname.form-control{:placeholder => "Company Name", :type => "company name"}/
					.form-group
						%label{:for => "exampleInputEmail1"} Email address
						%input#exampleInputEmail1.form-control{:placeholder => "Email", :type => "email"}/
					.form-group
						%label{:for => "textarea"} Message
						%textarea.form-control{:rows => "3"}
					.form-group
						// %label{:for => "exampleInputFile"} File input
						// %input#exampleInputFile{:type => "file"}/
						// %p.help-block Please upload any file you want us to have a look at.
						/ %h4 please choose your business size below
						/ %ul 
						/ 	%li
						/ 		.checkbox
						/ 			%label
						/ 			%input{:type => "checkbox"}/
						/ 			Small Business
						/ 	%li
						/ 		.checkbox
						/ 			%label
						/ 			%input{:type => "checkbox"}/
						/ 			Medium Business
						/ 	%li
						/ 		.checkbox
						/ 			%label
						/ 			%input{:type => "checkbox"}/
						/ 			Large Business
					%button.btn.btn-success{:type => "submit"} Submit