.footer-container
  .container
    .row
      #widget-1.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Popular Links
        %hr
        %ul
          %li
            %a{:href => "#"} Welcome to Soular
          %li
            %a{:href => "#"} Who we are
          %li
            %a{:href => "#"} What we do
          %li
            %a{:href => "#"} Finding Oportunity with us
          %li
            %a{:href => "#"} Get in touch with Soular
          %li
            %a{:href => "#"} Shop for Security Gadgets
         

      #widget-2.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Downloads
        %hr
        %ul
          %li 
            %a{:href => "#"} Download Timesheet form
          %li
            %a{:href => "#"} Get Application form
          %li
            %a{:href => "#"} Download our map
      

      #widget-3.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Contacts
        %hr
        %div.address
          %p 102 Pentoville Road
          %p London
          %p NW9 8KM
          %br
          %p Telephone: 0203467592
          %ul.social-icon.w3-animate-zoom
            %a{:href=>"#"}
              %i.fa.fa-facebook-square{"aria-hidden" => "true"}
            %a{:href=>"#"}
              %i.fa.fa-twitter-square{"aria-hidden" => "true"}
            %a{:href=>"#"}
              %i.fa.fa-linkedin-square{"aria-hidden" => "true"}

%nav.footer
  %div.container.footer-nav
    %ul
      %li copyright 2016 Soular Security Ltd
      %li
        %a{:href => "#"} 
          Terms and Condition
      %li
        %a{:href => "#"}
          Privacy 
      %li
        %a{:href => "#"}
          Disclaimer
      %li
        %a{:href => "#"}
          Site-Map