.footer-container
  .container
    .row
      #widget-1.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Popular Links
        %hr
        %ul
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} About us
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Career
          %li
            %a{:href => "#"} Contact us
         

      #widget-2.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Downloads
        %hr
        %ul
          %li 
            %a{:href => "#"} Timesheet form
          %li
            %a{:href => "#"} Timesheet form
          %li
            %a{:href => "#"} Timesheet form
          %li
            %a{:href => "#"} Timesheet form
          %li
            %a{:href => "#"} Timesheet form
          %li
            %a{:href => "#"} Timesheet form
            

      #widget-3.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %h2 Contacts
        %hr
        %p
          If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

%nav.footer
  %div.container.footer-nav
    %ul
      %li copyright 2016 Soular Security Ltd
      %li
        %a{:href => "#"} 
          Terms and Condition
      %li
        %a{:href => "#"}
          Privacy 
      %li
        %a{:href => "#"}
          Disclaimer
      %li
        %a{:href => "#"}
          Site-Map