.footer-container
  .container
    .row
      #widget-1.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %ul
          %li Home
          %li About us
          %li Services
          %li Career
          %li Contact us
          %p
          If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

      #widget-2.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %p
          If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

      #widget-3.col-xs-12.col-sm-4.col-md-4.col-lg-4
        %p
          If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.

%nav.footer
  %ul
    %li copyright 2016 Soular Security Ltd