.footer-container
  .container
    .row
      #widget-1.col-xs-6.col-sm-3.col-md-3.col-lg-3
        %h2 Popular Links
        
        %ul
          %li
            %a{:href => "/about"} Who we are
          %li
            %a{:href => "/services"} What we do
          %li
            %a{:href => "#"} Finding Oportunity with us
          %li
            %a{:href => "#"} Get in touch with Soular
          %li
            %a{:href => "#"} Shop for Security Gadgets
         

      #widget-2.col-xs-6.col-sm-3.col-md-3.col-lg-3
        %h2 Downloads
        
        %ul
          %li 
            %a{:href => "#"} Download Timesheet form
          %li
            %a{:href => "#"} Get Application form
          %li
            %a{:href => "#"} Download our
      #widget-4.col-xs-6.col-sm-3.col-md-3.col-lg-3
        %h2 Terms
        %ul
          %li
            %a{:href => "#"} Terms and Condition
          %li
            %a{:href => "#"} Privacy 
          %li
            %a{:href => "#"} Disclaimer
          %li
            %a{:href => "#"} Site-Map
      #widget-3.col-xs-6.col-sm-3.col-md-3.col-lg-3
        %h2 Contacts
        
        %div.address
          %p 102 Pentoville Road
          %p London
          %p NW9 8KM
          %br
          %p Telephone: 0203467592
          %ul.social-icon.w3-animate-zoom
            %a{:href=>"#"}
              %i.fa.fa-facebook-square{"aria-hidden" => "true"}
            %a{:href=>"#"}
              %i.fa.fa-twitter-square{"aria-hidden" => "true"}
            %a{:href=>"#"}
              %i.fa.fa-linkedin-square{"aria-hidden" => "true"}

%nav.footer
  %div.footer-nav
    %ul.container
      %li © 2016 Soular Security Ltd Allright Reserved 
    





