%div.main-nav
  %nav.navbar.navbar-inverse.navbar-main
    .navbar-header
      %ul.nav.navbar-nav.navbar-right
        %li.s-home
          %a{:href=>"/"}
            %i.fa.fa-home
        %li.s-menu.z-depth-1
          %a{:href=>"#", :target => false}
            %i.fa.fa-navicon
        %li.s-close.z-depth-1
          %a{:href=>"#"}
            %i.fa.fa-times

.soular-logo.container
  %a.logo-wrapper{:href=>"/"}
    %img.img-responsive{:src=>"assets/soularlogo200x117-2.png", :alt=>"Logo"}

.user-session
  - @users.each do |user|
    - if user_signed_in?
      %p You are logged in as:
      %p= user.email

= render "partials/social_media"

