
%div.secondary-nav
  %nav.navbar.navbar-inverse.navbar-low
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-brand
        %a{:href=>"/"}
          = image_tag("soular-new-logo-mob.png", class: "img-responsive")
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        -# %a.navbar-brand{:href => "#"} Soular Security
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.w3-navbar
          %li
            %a{:href => "/"}
              Home
          %li.w3-dropdown-hover
            %a{:href => "/services"}
              What we do
              %i.glyphicon.glyphicon-triangle-bottom{:style=>"color: #c1001d;"}
            %div.w3-dropdown-content.service-dropdown
              %div.w3-half.slist
                %a{:href => "/security_guard"} Security Guard
                %a{:href => "/close_protection"} Close Protection
                %a{:href => "/event_security"} Event Security
                %a{:href => "/construction_security"} Construction
                %a{:href => "/hospitality_security"} Hospitality Security
                %a{:href => "/retail_security"} Retail Security
              %div.w3-half
                %a{:href => "/concierge_security"} Concierge Security
                %a{:href => "/corporate_security"} Corporate Security
                %a{:href => "/hotel_security"} Hotel Security
                %a{:href => "/mobile_security"} Mobile Security
                %a{:href => "/industrial_security"} Industrial Security


          %li
            %a{:href => "/about"} Who we are
          %li
            %a{:href => "/contact"} Contact us
          %li
            %a{:href => "/career"} Career
        / %ul.nav-session
        /   %li
        /     - if !user_signed_in?
        /       %h4= link_to "Login", new_user_session_path
        /     - else
        /       %h4= link_to "logout", destroy_user_session_path, method: :delete

:javascript

  $(document).ready(function(){

    var navpath = window.location.pathname.split("/").pop();

    if (navpath == '') {
      navpath = '/';
    }

    var target = $('li a[href="'+navpath+'"]');

    target.addClass('actives');
  });
