/ %div.primary-nav
/   %nav.navbar.navbar-inverse.navbar-top#nagbar
/     .container
/       .navbar-header
/         %a.navbar-brand.w3-animate-zoom{:href => "/"}
/           %img.img-responsive{:src=>"assets/soularlogo200x117-2.png", :alt=>"Soular Logo"}
/       .nav.navbar.navbar-right
/         .w3-ul.social-icon.w3-animate-zoom
/           %li 
/             %h4 Call us: <span style="color: #1B1B1B; font-family: Roboto;">020 3119 1019</span>
/           %li
/             %a{:href=>"http://www.facebook.com"}
/               %i.fa.fa-facebook-square{"aria-hidden" => "true"}
/             %a{:href=>"http://www.twitter.com"}
/               %i.fa.fa-twitter-square{"aria-hidden" => "true"}
/             %a{:href=>"http://www.linkedin.com"}
/               %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
          
%div.secondary-nav
  %nav.navbar.navbar-inverse.navbar-low
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        -# %a.navbar-brand{:href => "#"} Soular Security
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.w3-navbar
          %li
            %a{:href => "/"}
              Home
          %li.w3-dropdown-hover
            %a{:href => "services"}
              What we do
              %i.glyphicon.glyphicon-triangle-bottom{:style=>"color: #c1001d;"}
            %div.w3-dropdown-content.service-dropdown
              %div.w3-half.slist
                %a{:href => "/security_guard"} Security Guard
                %a{:href => "/close_protection"} Close Protection
                %a{:href => "/event_security"} Event Security
                %a{:href => "/construction_security"} Construction
                %a{:href => "/hospitality_security"} Hospitality Security
                %a{:href => "/retail_security"} Retail Security
              %div.w3-half
                %a{:href => "/concierge_security"} Concierge Security
                %a{:href => "/corporate_security"} Corporate Security
                %a{:href => "/hotel_security"} Hotel Security
                %a{:href => "/mobile_security"} Mobile Security
                %a{:href => "/industrial_security"} Industrial Security


          %li
            %a{:href => "about"} Who we are
          %li
            %a{:href => "contact"} Contact us
          %li
            %a{:href => "career"} Career
          %li
            %a{:href => "shop"} Shop
          %li
            %a{:href => "blog"} Blog

:javascript

  $(document).ready(function(){

    var navpath = window.location.pathname.split("/").pop();

    if (navpath == '') {
      navpath = '/';
    }

    var target = $('li a[href="'+navpath+'"]');

    target.addClass('actives');
  });
