%div.primary-nav
  %nav.navbar.navbar-inverse.navbar-top
    .container
      .navbar-header
        %a.navbar-brand.w3-animate-zoom{:href => "/"}
          %img.img-responsive{:src=>"assets/SoularLogo.png", :alt=>"Soular Logo"}
      .nav.navbar.navbar-right
        %ul.social-icon.w3-animate-zoom
          %a{:href=>"http://www.facebook.com"}
            %i.fa.fa-facebook-square{"aria-hidden" => "true"}
          %a{:href=>"http://www.twitter.com"}
            %i.fa.fa-twitter-square{"aria-hidden" => "true"}
          %a{:href=>"http://www.linkedin.com"}
            %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
          
%div.secondary-nav
  %nav.navbar.navbar-inverse.navbar-low
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        -# %a.navbar-brand{:href => "#"} Soular Security
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.w3-navbar
          %li.actives
            %a{:href => "/"}
              Home
              %span.sr-only (current)
          %li.w3-dropdown-hover
            %a{:href => "/services"}
              Services
              %i.glyphicon.glyphicon-triangle-bottom
            %div.w3-dropdown-content
              %div.w3-half
                %a{:href => "/services/security_guard"} Security Guard
                %a{:href => "/services/close_protection"} Close Protection
                %a{:href => "/services/event_security"} Event Security
                %a{:href => "/services/construction_security"} Construction
                %a{:href => "/services/hospitality_security"} Hospitality Security
                %a{:href => "/services/retail_security"} Retail Security
              %div.w3-half
                %a{:href => "/services/concierge_security"} Concierge Security
                %a{:href => "/services/corporate_security"} Corporate Security
                %a{:href => "/services/hotel_security"} Hotel Security
                %a{:href => "/services/mobile_security"} Mobile Security
                %a{:href => "/services/industrial_security"} Industrial Security


          %li
            %a{:href => "/about"}
              About
          %li
            %a{:href => "/contact"}
              Contact us
          %li
            %a{:href => "#"}
              Career
          %li
            %a{:href => "#"}
              Shop

