%div.latest-news.row
    .w3-ul
        %li
            .news-item.w3-card-1
                %img.img-responsive.w3-hover-opacity{:src =>"/assets/2.jpg"}
                %h5 Security contract signing
                / .btn.btn-primary{:href=>"#"} Read more
    %hr
    .w3-ul
        %li
            .news-item.w3-card-1
                %img.img-responsive.w3-hover-opacity{:src =>"/assets/1.jpg"}
                %h5 Latest Security treat
                / .btn.btn-primary{:href=>"#"} Read more
    %hr
    .w3-ul
        %li
            .news-item.w3-card-1
                %img.img-responsive.w3-hover-opacity{:src =>"/assets/3.jpg"}
                %h5 German attacks britain
                / .btn.btn-primary{:href=>"#"} Read more
    %hr
    .w3-ul
        %li
            .news-item.w3-card-1
                %img.img-responsive.w3-hover-opacity{:src =>"/assets/2.jpg"}
                %h5 New security protection
                / .btn.btn-primary{:href=>"#"} Read more