.w3-ul.w3-hoverable
	%li.w3-padding-4 
		%a{:href=>"/services/security_guard"} Security Guard
	%li.w3-padding-4 
		%a{:href=>"/services/close_protection"} Close Protection
	%li.w3-padding-4 
		%a{:href=>"/services/event_security"} Event Security
	%li.w3-padding-4 
		%a{:href=>"/services/construction_security"} Construction Security
	%li.w3-padding-4 
		%a{:href=>"/services/hospitality_security"} Hospitality Security
	%li.w3-padding-4 
		%a{:href=>"/services/retail_security"} Retail Security
	%li.w3-padding-4 
		%a{:href=>"/services/consierge_security"} Concierge Security
	%li.w3-padding-4 
		%a{:href=>"/services/corporate_security"} Corporate Security
	%li.w3-padding-4 
		%a{:href=>"/services/hotel_security"} Hotel Security
	%li.w3-padding-4 
		%a{:href=>"/services/mobile_security"} Mobile Security
	%li.w3-padding-4 
		%a{:href=>"/services/industrial_security"} Industrial Security