.w3-ul.service-list
	%li.w3-padding-4.active-service 
		%a{:href=>"/security_guard"} Security Guard
	%li.w3-padding-4 
		%a{:href=>"/close_protection"} Close Protection
	%li.w3-padding-4 
		%a{:href=>"/event_security"} Event Security
	%li.w3-padding-4 
		%a{:href=>"/construction_security"} Construction Security
	%li.w3-padding-4 
		%a{:href=>"/hospitality_security"} Hospitality Security
	%li.w3-padding-4 
		%a{:href=>"/retail_security"} Retail Security
	%li.w3-padding-4 
		%a{:href=>"/concierge_security"} Concierge Security
	%li.w3-padding-4 
		%a{:href=>"/corporate_security"} Corporate Security
	%li.w3-padding-4 
		%a{:href=>"/hotel_security"} Hotel Security
	%li.w3-padding-4 
		%a{:href=>"/mobile_security"} Mobile Security
	%li.w3-padding-4 
		%a{:href=>"/industrial_security"} Industrial Security