.w3-row-padding.shop-front
	.w3-col.s6.m3.l3.items
		%img.img-responsive{:alt => "...", :src => "/assets/security-radios.jpg"}
		.caption-title-1
			%h4 Headphones
			%h6 Order now
	.w3-col.s6.m3.l3.items
		%img.img-responsive{:alt => "...", :src => "/assets/Mic-Headset.jpg"}
		.caption-title-2
			%h4 Walkie Talkie
			%h6 Order now
	.w3-col.s6.m3.l3.items
		%img.img-responsive{:alt => "...", :src => "/assets/security-radios.jpg"}
		.caption-title-3
			%h4 Headbands
			%h6 Order now
	.w3-col.s6.m3.l3.items
		%img.img-responsive{:alt => "...", :src => "/assets/Mic-Headset.jpg"}
		.caption-title-4
			%h4 Walkie Talkie
			%h6 Order now