#testimony-container
	.testimony-container-cover.container
		%h3 #What people are saying about us
		.testimony.row
			.testimony-wrapper
				.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
					%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsenal-manager.jpg"}
					.carousel-captions
						%p
							%q Since we started using Soular security, our customer base have improved
						%h5 ( Ben Willo )
						%h6
							%strong
							Big Chill House
				.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
					%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsena-wenger.jpg"}
					.carousel-captions
						%p
							%q Since we started using Soular security, our customer base have improved
						%h5 ( Asena Wenger )
						%h6
							%strong
							Arsenal Club
				.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
					%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/manager2.jpg"}
					.carousel-captions
						%p
							%q Since we started using Soular security, our customer base have improved
						%h5 ( Lilian Bush )
						%h6
							%strong
							Cargo Night Club