.w3-row.home-service
	.w3-half
		%img.img-responsive.w3-animate-zoom{:src=>"assets/our-protect.jpg", :alt=>""}
		.w3-display-middle.w3-large.header-text
			/ %h1.w3-animate-zoom.w3-allerta Soular Security Services

	.w3-half
		%img.img-responsive.w3-animate-zoom{:src=>"assets/our-protect.jpg", :alt=>""}
		