.w3-row.home-service
	.w3-half
		%img.img-responsive.w3-animate-zoom{:src=>"assets/soular_guard.jpg", :alt=>""}
		/ .soular-sym-1

	.w3-half
		%img.img-responsive.w3-animate-zoom{:src=>"assets/security-4soular.jpg", :alt=>""}
		/ .soular-sym-2
		
		