%ul.main-navbar.w3-animate-right
  .menu-head
    .login
      - if !user_signed_in?
        %h4= link_to "Login", new_user_session_path
      - else
        %h4= link_to "logout", destroy_user_session_path, method: :delete
    .logout
      %h4 Call 020 3119 1019

  %li
    %a{:href => "/"}
      Home
  %li
    %a{:href => "about"} Who we are
  %li.dropdown-2
    %a{:href => "services"}
      What we do
      / %i.glyphicon.glyphicon-triangle-bottom{:style=>"color: #c1001d;"}
  %li
    %a{:href => "contact"} Contact us
  %li
    %a{:href => "career"} Career
  %li
    %a{:href => "shop"} Shop
  %li
    %a{:href => "blog"} Blog


%div.service-dropdown-2
  %div.w3-half.slist
    %li
      %a{:href => "/security_guard"} Security Guard
    %li
      %a{:href => "/close_protection"} Close Protection
    %li
      %a{:href => "/event_security"} Event Security
    %li
      %a{:href => "/construction_security"} Construction
    %li
      %a{:href => "/hospitality_security"} Hospitality Security
    %li
      %a{:href => "/retail_security"} Retail Security

  %div.w3-half
    %li
      %a{:href => "/concierge_security"} Concierge Security
    %li
      %a{:href => "/corporate_security"} Corporate Security
    %li
      %a{:href => "/hotel_security"} Hotel Security
    %li
      %a{:href => "/mobile_security"} Mobile Security
    %li
      %a{:href => "/industrial_security"} Industrial Security