%div.welcome-header
	%div.header-wrapper
		%div.header
			%img.img-responsive{:src => "/assets/soular1.jpg"}

%div.header-text.jumbotron.mySlides.w3-center
	%h1.w3-animate-zoom Affordable Security
	%h5.w3-animate-left We provide highest calibre of Security and staffing personnel.
	%a.btn.btn-success.w3-animate-bottom{:href => "#"} Get in touch

%div.header-text.jumbotron.mySlides
	%h1.w3-animate-top Key Holding 
	%h5.w3-animate-left We provide highest calibre of Security and staffing personnel.
	%a.btn.btn-success.w3-animate-bottom{:href => "#"} Get in touch
%div.header-text.jumbotron.mySlides
	%h1.w3-animate-right Hotel Security 
	%h5.w3-animate-left We provide highest calibre of Security and staffing personnel.
	%a.btn.btn-success.w3-animate-bottom{:href => "#"} Get in touch
%div.header-text.jumbotron.mySlides
	%h1.w3-animate-zoom Mobile Patrol 
	%h5.w3-animate-left The best security patrol
	%a.btn.btn-success.w3-animate-bottom{:href => "#"} Get in touch

.scroll-cavet
	%a{:href=>"#"}
		%i.glyphicon.glyphicon-menu-down

:javascript
	var myIndex = 0;
	carousel();

	function carousel() {
		var i;
		var x = document.getElementsByClassName("mySlides");
		for (i = 0; i < x.length; i++) {
		 x[i].style.display = "none";
		}
		myIndex++;
		if (myIndex > x.length) {myIndex = 1}
		x[myIndex-1].style.display = "block";
		setTimeout(carousel, 9000); // Change image every 2 seconds
	}