.quote-wrapper
	.w3-animate-right
		%h2 Get Free Quote
		%p Fill the form below and get a free quote OR
		%p Call 020 3119 1019
		%br
		%form
			.w3-col.s6.cname
				.form-group
					%label{:for => "firstName"} First Name
					%input#firstName.form-control{:placeholder => "First Name", :type=> "name"}
			.w3-col.s6.cname
				.form-group
					%label{:for => "lastName"} Last Name
					%input#lastName.form-control{:placeholder => "Last Name", :type=> "name"}
			.form-group
				%label{:for => "companyName"} Company Name
				%input#companyName.form-control{:placeholder => "Company Name", :type=> "name"}
			.form-group
				%label{:for => "exampleInputEmail1"} Email address
				%input#exampleInputEmail1.form-control{:placeholder => "Email", :type => "email"}
			.form-group
				%label{:for => "phoneNumber"} Telephone
				%input#phoneNumber.form-control{:placeholder => "Telephone", :type => "telephone"}
			.form-group
				/ %label{:for => "exampleInputFile"} File input
				/ %input#exampleInputFile{:type => "file"}/
				/ %p.help-block Please upload any file you want us to have a look at.
				%h4 please choose your business size below
				%ul 
					%li
						.checkbox
							%label
							%input{:type => "checkbox"}/
							Small Business
					%li
						.checkbox
							%label
							%input{:type => "checkbox"}/
							Medium Business
					%li
						.checkbox
							%label
							%input{:type => "checkbox"}/
							Large Business
			%br
			%button.btn.btn-default{:type => "submit"} Submit
						