= render "partials/navigation"
.page-container
	.page-header.about-image
		%img{:src=>"assets/soular-office.jpg", :alt=>"about us"}
		.page-header-image-cover
			.page-header-text.w3-center
				%h1.w3-allerta.w3-animate-zoom Who we are
				%h3.w3-animate-bottom Proactive | Inovative | Sincere

%div.container.about-us
	.w3-col.l4
		/ %h4 News
		/ = render "partials/news_list"
	.w3-col.l8
		%p Founded in 2008, Soular Security started with only the 1 venue but has quickly progressed as one of the leading Security companies in the competitive market of London, emerging as a company with a reliable, efficient and professionalism that is unrivalled. Gaining the renowned reputation of delivering a premier service in the industry, Soular Security has acquired lucrative contracts, working with multimillion pound clients and protecting assets and property worth tens of millions of pounds in the heart of London. At Soular Security we understand that pressure is a privilege and we thrive on the highest expectation from our clients and their customers; giving unbeatable rates whilst delivering the highest quality of service. As a company to work with we are practical, approachable and able to build strong working relations with staff, clients and customers based upon a duty of care and respect, regardless of a person’s background. Our continuous supportive network provides a stable foundation for our operatives to build a sufficient career in the security industry whilst always giving ample opportunity for staff development and promotion.


= render "partials/footer"