= render "partials/navigation"
.page-container
	.page-header.about-image
		/ %img{:src=>"assets/security-2.jpg", :alt=>"career"}
		.page-header-image-cover
			.page-header-text.w3-center
				%h1.w3-allerta.w3-animate-zoom Oportunities
				%h3.w3-animate-bottom we provide excellent training and staffing solution