= render "partials/navigation"
.page-container
	.page-header.contact-image
		/ %img{:src=>"assets/security-2.jpg", :alt=>"about us"}
		.page-header-image-cover
			.page-header-text
				%h1.w3-allerta.w3-animate-zoom Contact Us
				%h3.w3-animate-bottom You can also find us on the following social media platforms
				%ul#social-icon
					%li
						%a{:href=>"http://www.facebook.com"}
							%i.fa.fa-facebook-square{"aria-hidden" => "true"}
						%a{:href=>"http://www.twitter.com"}
							%i.fa.fa-twitter-square{"aria-hidden" => "true"}
						%a{:href=>"http://www.linkedin.com"}
							%i.fa.fa-linkedin-square

.page-content.container
	= render "partials/contact_section"
#contact-map
	.map-cover
		%h1 This is the map
	


= render "partials/footer"
