= render "partials/navigation"
= render "home_slider"


%section.container
	%h1.w3-tag-line.w3-roboto Who we are
	#why-soular.w3-row
		#power1.w3-col.s4
			%span 
				%i.glyphicon.glyphicon-refresh{"aria-hidden" => "true"}
			%h4.w3-allerta Strong Protection
			%p We are strong to the core
		#power2.w3-col.s4
			%span
				%i.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
			%h4.w3-allerta Excellent Service
			%p Our service is no. one
		#power3.w3-col.s4
			%span
				%i.glyphicon.glyphicon-user{"aria-hidden" => "true"}
			%h4.w3-allerta Computent
			%p We take all our clients serious
	.tagLine.container
		%p.tag-text.w3-center
			At Soular Security we understand that pressure is a privilege and we thrive on the highest expectation from our clients and their customers; giving unbeatable rates whilst delivering the highest quality of service.
			Our offices are based in central London and with over 2 decades of experience, Soular has grown and adapted to the rapid rise and demand of the security industry, acquiring and maintaining lucrative contracts because of our excellent reputation and rapport we have built with our clients over the years.
		%a.btn.btn-primary{:href=>"/about"} more
%section.callToAction
	#cTa-text.container.w3-center
		%h1.w3-allerta All kind of Security Services
		%ul
			%li Corporate security
			%li Events
			%li Private Party
		%p{:style => "color: #fff;"} If you have any security concerns or issues regarding your business, property, assets, valuables or VIP’s then Soular Security is the choice for you.
		%a{:href=>"/services"}
			%button.btn.btn-success{:type => "input"} read more
%section#service-collection.container
	.row
		%h1.w3-tag-line.w3-roboto What we do
		.col-xs-12.col-sm-12.col-md-6.col-lg-6.service-card-left.home-service-card-col
			/ Showing the left service card
			
			.col-xs-6.col-sm-6.col-md-6.col-lg-6.home-service-card-col
				.home-service-card
					.img-card
						%a{:href=>"/services"}
							%img.w3-hover-opacity{:alt => "Security", :src => "/assets/our-protect.jpg", :style => "width: 100%"}
						%h5.w3-allerta Security Services
						
					%p
						%span we offer an array of security service ranging from public and private in… 
						
					.linkButtons-left.w3-center
						%button.btn.btn-success
							%a{:href => "/services"} see more
			.col-xs-6.col-sm-6.col-md-6.col-lg-6.home-service-card-col
				.home-service-card
					.img-card
						%a{:href=>"#"}
							%img.w3-hover-opacity{:alt => "Recruitment", :src => "/assets/security-radio.jpg", :style => "width: 100%"}
						%h5.w3-allerta Security Gadgets
						
					%p
						%span We supply security gadgets for our clients and provive installation of security devises
						
					.linkButtons-right.w3-center
						%button.btn.btn-success{:type => "button"} shop
		.col-xs-12.col-sm-12.col-md-6.col-lg-6.service-card-right.home-service-card-col
			/ Showing the right hand service images
			.card-wrap.w3-display-container
				.w3-display-middle.w3-large.w3-hidden.w3-padding-48
					%h2.w3-animate-zoom{:style=>"color:#fff;"} At Soular you are assured a world of opportunities 
					%span.btn.btn-danger.w3-animate-left see more
					
/ = render "partials/contact_section"
%section.news-container.container
	%h1.w3-tag-line.w3-roboto Latest News
	= render "partials/news"

%section.testimony-container
	#testimony-container
		.testimony-container-cover.container
			%h3 #What people are saying about us
			.testimony.row
				.testimony-wrapper
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsenal-manager.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Ben Willo )
							%h6
								%strong
								Big Chill House
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/arsena-wenger.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Asena Wenger )
							%h6
								%strong
								Arsenal Club
					.item.col-xs-12.col-sm-4.col-md-4.col-lg-4
						%img.responsive-img.w3-hover-opacity{:alt => "...", :src => "/assets/manager2.jpg"}
						.carousel-captions
							%p
								%q Since we started using Soular security, our customer base have improved
							%h5 ( Lilian Bush )
							%h6
								%strong
								Cargo Night Club




// %section.container
// 	.row
// 		#mission.col.s12.m6.l6
// 			%h2 This is another div
// 		.col.s12.m6.l6
// 			%h2 Followed by another one

= render "partials/footer"