= render "partials/navigation"
.page-container
	.page-header.about-image
		/ %img{:src=>"assets/security-2.jpg", :alt=>"about us"}
		.page-header-image-cover
			.page-header-text.w3-center
				%h1.w3-allerta.w3-animate-zoom Who we are
				%h3.w3-animate-bottom Browse through our service and make your choice