
.mySlides {display:none;}
.w3-hidden{display: none;}
.w3-tag-line{color: $soular-black; font-weight: 800; text-transform: uppercase;}


section.container-content{
    position: relative;
    top: -20px;
    background-color: $soular-black;
    text-align: center !important;
    margin: 0px;
    padding-bottom: 50px;
    h1{
      text-align: center;
      color: #fff;
      padding: 30px 0px;

    }
}
#why-soular {
    // background-color: $soular-black;
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
    #power1, #power2, #power3 {
        // background-color: lightcyan;
        // width: 100px;
        // height: 100px;
        margin: 0 10px;
        text-align: center !important;
        // border: 2px solid;
        // border-radius: 50%;
        h4{
            font-size: 16px;
            color: #fff;
        }
        p{opacity: 0; -webkit-transition: 1s; transition: 1s;}
    }
    .glyphicon-refresh:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    .glyphicon-ok:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    .glyphicon-user:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    i{
        font-size: 50px;
        border: 2px solid;
        border-color: $soular-red; 
        border-radius: 50%;
        padding: 50px;
        color: #fff;
        &:hover{color: $soular-red;}

    }
    // #power1:hover{p{opacity: 1; color: green; cursor: pointer; transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out;}}
    // #power2:hover{p{opacity: 1; color: green; cursor: pointer; transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out;}}
    // #power3:hover{p{opacity: 1; color: green; cursor: pointer; transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out;}}


}

@media only screen and (max-width: 768px){
    #why-soular {
        display: flex;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center !important;
        #power1, #power2, #power3 {
        // background-color: lightcyan;
        // width: 100px;
        // height: 100px;
        margin: 0 10px;
        text-align: center !important;
        // border: 2px solid;
        // border-radius: 50%;
        h4{
            font-size: 16px;
            color: #fff;
        }
        p{opacity: 0; -webkit-transition: 1s; transition: 1s;}
        }
        i{
            font-size: 40px;
            border: 1px solid;
            border-color: $soular-red; 
            border-radius: 50%;
            padding: 20px;
            color: #fff;

        }

    }
}
// @media only screen and (max-width: 568px){
//     #why-soular {
//         display: flex;
//         margin: 0 auto;
//         padding: 0 10px;
//         #power1, #power2, #power3 {
//             background-color: lightcyan;
//             height: 120px;
//             width: 120px;
//             margin: 0 auto;
//             text-align: center;
//             border: 2px solid;
//             border-color: dimgray;
//             border-radius: 50%;
//             transition: 1s;
//             h4{
//                 font-size: 12px;
//                 padding-bottom: 5px;
//             }
//         }
//         i{
//             font-size: 40px; 

//             padding: 10px 0px 0px;
//             color: #011627;
//         }

//     }
// }
//why soular ends here

.tagLine{
    margin: 0 auto;
    text-align: center;
    p{
        font-size: 12px !important;
        letter-spacing: 1px;
        padding: 20px 20px;
        line-height: 25px;
        opacity: 0.8;
    }
    .tag-text{
      margin-top: 0px;
      color: #fff;

    }
    .btn{
        background: transparent;
        border-color: $soular-red; 
        color: $soular-red;
        &:hover{background-color: $soular-red; color: #fff;}
    }
}
.callToAction{
    position: relative;
    top: -20px;
    margin: 0px auto;
    background-color: $soular-red;
    #cTa-text{
        text-align: center;
        padding: 50px 0px;
        button.btn{
            margin-top: 20px;
            background: $secondary-color;
            border-color: #fff;
            &:hover{
                background-color: #fff;
                color: grey;
            }
        }
    h1 {
        color: white;
        }
    ul>li{color: grey; display: inline-flex; }
     }
    //  .btn{background-color: #000; color: #fff;}
}
.home-service{
    position: relative;
    top: -20px;
    margin: 0px;
    padding: 0px;
}
.sia-approve{
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    top: -17px;
    z-index: -100;
    overflow: hidden;
    img{
        width: 100px;
        height: 100px;
    }
    p{padding: 10px 0; font-size: 12px;}
    .sia-img{
        max-width: 100px;
        height: 100px;
        padding: 0px 0px;
        // opacity: 0.8;
        // border-radius: 50%;
        // img{border-radius: 5px;}
    }
    .sia-text{
        padding: 10px 0px 10px 20px;
        overflow: hidden;
        color: grey;
        p{padding: 10px 0px; }
    }
}
section#service-collection{
    margin-top: 0px;
    .home-service-card {
      padding: 0px 0px 15px 0px;
      margin: 0 auto;
      // height: 350px;
      background-color: $soular-red;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
      
      .img-card{
        a{text-decoration: none; &:hover{color: $soular-black;}}
        h5{padding: 0 10px; color: lightgrey; font-weight: 600; text-align: center !important;}
        p{padding: 0 10px; font-size: 12px !important; color: darken(#fff, 30%);}
        
      }
      .linkButtons a{
        color: #fff;
        padding: 5px;
        border: 1px solid;
        border-color: darken(#fff, 30%);
        border-radius: 4px;
      }
    
    }



    .service-card-right{
        overflow: hidden;
        &:hover{
            
         .card-wrap{
            overflow: hidden;
            transform: scale(1.1,1.1);
            -webkit-transition-timing-function: ease-in-out; 
            transition-timing-function: ease-in-out;
         }  
        }
    }  
}
section.news-container{
    margin-top: 50px;
    h1{text-align: center;}
}


@media only screen and (max-width: 1600px){
  .card-wrap img{
        position: relative;
        height: 100%;
        left: -200px;
        transition: 2s;
    }  
 } 
@media only screen and (max-width: 768px){
  .card-wrap img{
        position: relative;
        height: 100%;
        left: -50px;
        transition: 2s;
    }  
 } 
 @media only screen and (max-width: 568px){
  .card-wrap img{
        position: relative;
        height: 100%;
        left: -150px;
        transition: 2s;
    }  
 } 

.testimony-container{
        margin-top: 50px;
        background-color: $soular-red;
        background-image: url('construction.jpg');
        background-attachment: fixed;
        position: relative;
        text-align: center;
        p {color: $soular-black;}
        h3{color: $soular-black;}
        h6{color: lightcoral;}
        h5{
            color: $soular-black;
        }
        #testimony-container{
            background-color: #ebeff1;
            opacity: 0.8;
            .testimony-container-cover{
            //  background-color: #000
                h3{padding-bottom: 20px;}
                opacity: 0.9;
                padding: 60px 0px;
            .testimony{
                position: relative;
                // left: 50%;
                // margin-left: -100px;
                display: block;
                text-align: center;
                // width: 200px;
                // height: 200px;
                // background-color: aliceblue;
                // border-radius: 50%;
                .testimony-wrapper{
                    background-color: black;
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        border: 5px solid;
                        border-color: #fff;
                    }
                    .carousel-captions{
                        p{
                            padding: 5px 20px;
                            font-size: 12px;
                        }
                    }
                }
            }
            }

    }
}


/* Fade transition for carousel items */
// .carousel-control{
//     position: absolute;
//     top: 500px;
//     margin: 0 50px;
// }

// .carousel, .item {
//     left: 0 !important;
//       -webkit-transition: opacity .4s; /*adjust timing here */
//          -moz-transition: opacity .4s;
//            -o-transition: opacity .4s;
//               transition: opacity .4s;
// }
// .carousel-control {
//     background-image: none !important; /* remove background gradients on controls */
// }


// /* Fade controls with items */
// .carousel-fade, .carousel-inner, .item {
//   opacity: 0;
//   transition-property: opacity;
// }

// .carousel-fade, .carousel-inner, .active {
//   opacity: 1;
// }

// .carousel-fade, .carousel-inner, .active.left,
// .carousel-fade, .carousel-inner, .active.right {
//   left: 0;
//   opacity: 0;
//   z-index: 1;
// }

// .carousel-fade, .carousel-inner, .next.left,
// .carousel-fade, .carousel-inner, .prev.right {
//   opacity: 1;
// }

// .carousel-fade, .carousel-control {
//   z-index: 2;
// }


// WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
// now override the 3.3 new styles for modern browsers & apply opacity

// @media all and (transform-3d), (-webkit-transform-3d) {
//     .carousel-fade .carousel-inner > .item.next,
//     .carousel-fade .carousel-inner > .item.active.right {
//       opacity: 0;
//       -webkit-transform: translate3d(0, 0, 0);
//               transform: translate3d(0, 0, 0);
//     }
//     .carousel-fade .carousel-inner > .item.prev,
//     .carousel-fade .carousel-inner > .item.active.left {
//       opacity: 0;
//       -webkit-transform: translate3d(0, 0, 0);
//               transform: translate3d(0, 0, 0);
//     }
//     .carousel-fade .carousel-inner > .item.next.left,
//     .carousel-fade .carousel-inner > .item.prev.right,
//     .carousel-fade .carousel-inner > .item.active {
//       opacity: 1;
//       -webkit-transform: translate3d(0, 0, 0);
//               transform: translate3d(0, 0, 0);
//     }
// }



