// main Navigagtion start from here
.hide-container{
  display: none;
}
.main-nav{
  .navbar {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 0px;
    z-index: 1000;
    float: right;
  }  
  .navbar-main{
    position: absolute;
    right: 400px;
    background: $soular-black;
    border-radius: 0px;
    margin-bottom: 0px;
    .navbar-header{
      margin: 10px 30px;
      li, a{
        color: $soular-red;
        font-size: 40px;
        &:hover{color: #fff;}
      }
      li.s-menu{
        display: block;
        transition: 2s;
        -webkit-transition: 2s;
      }
      li.s-close{
        display: none;
        transition: 2s;
        -webkit-transition: 2s;
      }
    }
  }
}
.mobile-nav{
  display: none;
  background-color: black !important;
  margin: 0px;
  padding: 0px;
  .navbar{
    margin-bottom: 0px;
    height: 60px;
    .logout-mobile{
      position: absolute;
      top: 8px;
      right: 80px;
      color: #fff;
      a{
        text-decoration: none;
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 568px){
  .social-media{
    position: absolute;
    float: right;
    top: 567px;
    width: 50px;
    right: 0px;
  }
}
.social-media{
  position: absolute;
  top: 567px;
  width: 50px;
  background-color: #fff;
  z-index: 1001;
  text-align: center !important;
  transition: 2s;
  -webkit-transition: 2s;
  .facebook{
    background-color: #1B98E0;
  }
  .twitter{
    background-color: #06AED5;
  }
  .linkedin{
    background-color: #083D77;
  }
  .googleplus{
    background-color: #dd4b39;
  }

  i{
    font-size: 30px;
    color: #fff;
  }
  .facebook, .twitter, .linkedin, .googleplus{
    width: 50px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    &:hover{
      width: 60px;
      border-radius: 0px 6px 6px 0px;
      transition-timing-function: ease-in-out; 
      -webkit-transition-timing-function: ease-in-out;
    }
  }
}
.service-dropdown{
  display: none;
  width: 300px;
  position: absolute;
  // top: 180px;

  background-color: $soular-red !important;
  a{color: #fff; font-size: 12px !important;
    text-decoration: none !important;
    padding-left: 10px !important;
    transition: 2s;
    -webkit-transition: 2s;
    &:hover{
      background: none !important; color: grey !important;
      transition-timing-function: ease-in-out; 
      -webkit-transition-timing-function: ease-in-out;
    }
  }
  li{
    text-decoration: none !important;
    padding: 5px 10px;
  }
  .slist{
    border-right: 1px solid;
    border-color: #9d9d9d !important;
  }

}

.service-dropdown-2{
  display: none;
  width: 300px;
  position: absolute;
  top: 180px;
  right: 400px;
  background-color: $soular-red !important;
  opacity: 0.5;
  a{color: #fff; font-size: 12px !important;
    text-decoration: none !important;
    padding-left: 10px !important;
    transition: 2s;
    -webkit-transition: 2s;
    &:hover{
      background: none !important; color: grey !important; opacity: 0.5; 
      transition-timing-function: ease-in-out; 
      -webkit-transition-timing-function: ease-in-out;
    }
  }
  li{
    text-decoration: none !important;
    padding: 5px 10px;
  }
  .slist{
    border-right: 1px solid;
    border-color: #9d9d9d !important;
  }
}
//styling main logo
.soular-logo{
  margin: 20px 50px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1001
  // img{width: 200px; height: 46px;}


}
// main navigagtion ends here

// Styling of Home menu start here
.main-navbar{
  color: #fff;
  margin: 0px !important;
  padding: 0px !important;
  li, a{
    padding: 10px 20px;
    font-size: 30px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    &:hover{
      text-decoration: none;
      color: $soular-red;
      padding-left: 30px;
      -webkit-transition-timing-function: ease-in-out; 
      transition-timing-function: ease-in-out;
    }
  }
  .menu-head{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: $soular-red;
    padding: 10px 0px;
    text-align: right;
    h4{padding: 20px !important; margin: 0px !important;}
    .login{
      border-right: 2px solid;
      a{color: black; &:hover{color: #fff;}}
    }
  }
}
//Home menu ends here
.user-session{
  position: absolute;
  top: 10px;
  right: 600px;
  z-index: 1009;
  p{color: #fff; padding: 0px; margin: 0px; font-size: 10px;}
}

.quote-container{
    position: absolute;
    top: 0px;
    float: right;
    right: 0px;
    width: 400px;
    transition: 1s;
    -webkit-transition: 1s;
    height: 700px;
    background-color: rgba(0,0,0, 0.5);
    h2{color: #fff; padding: 0 20px; text-align: center;}
    .quote-wrapper{
      padding: 20px 20px;
      p{color: #fff; text-align: center;}
      label{color: #fff;}
      input{background-color: transparent;
        border: 1px solid;
        border-color: green;
        &:focus{background-color: lightgay; border-color: red;}
      }
      .q-btn{background-color: $soular-red; border: none;}
    }
    .cname{
        padding: 0 5px;
    }
}
// @media only screen and (max-width: 768px){
//   div.main-nav{
//     display: none;
//   }
// }
@media only screen and (max-width: 768px){
  .main-nav{
    .navbar-main{

      background: $soular-black;
      border-radius: 0px;
      margin-bottom: 0px;
      .navbar-header{
        li, a{
          padding: 10px;
          color: $soular-red;
          &:hover{color: #fff;}
        }
        li.s-menu{
          transition: 2s;
          -webkit-transition: 2s;
        }
        li.s-close{
          display: none;
          transition: 2s;
          -webkit-transition: 2s;
        }
        li.s-home{
          display: none;
        }
      }
    }
  }
  .soular-logo{

    margin: 0px 0px;
    left: 20px;
    top: 10px;
    text-align: left !important;
  }

}
@media only screen and (max-width: 568px){
  .quote-container{width: 100%;
    top: 60px;
    transition-timing-function: ease-in-out; 
    -webkit-transition-timing-function: ease-in-out;
  }

  .soular-logo{
    width: 200px;
    display: flex;
    margin: 0px 0px;
    left: 10px;
    top: 10px;
    text-align: left !important;
  }
  .mobile-nav{
    display: block;
  }
  .main-nav{
    .navbar-main{
      position: absolute;
      right: 0px;
      background: $soular-black;
      border-radius: 0px;
      margin-bottom: 0px;
      .navbar-header{
        li, a{
          padding: 0px;
          color: $soular-red;
          font-size: 22px;
          &:hover{color: #fff;}
        }
        li.s-menu{
          transition: 2s;
          -webkit-transition: 2s;
        }
        li.s-close{
          display: none;
          transition: 2s;
          -webkit-transition: 2s;
        }
        li.s-home{
          display: none;
        }
      }
    }
  }
  .social-media{top: 630px;}
  .main-navbar{text-align: center !important;}
    
}


