.service-header {
    margin-bottom: 40px;
    height: 400px;
    background-color: red;
    .service-image{
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
        .service-image-wrapper{
            position: relative;
            background-color: #000;
            img{
                position: relative;
                width: 100%;
                min-width: 1600px;
                min-height: 400px;
                z-index: 0;
                opacity: 0.6;
                transition: 1s;
                -webkit-transition: 1s;
            }
            .image-filter{
                position: relative;
                // background-color: blue;
                height: 400px;
                z-index: 999;
                opacity: 0.3;
            }
        }

    }
    .header-text h1{
        color: #fff;
    }
}
@media only screen and (max-width: 768px){
    .service-image-wrapper{
        position: relative;
        background-color: #000;
        img{
            position: relative;
            width: 100%;
            min-height: 400px;
            z-index: 0;
            opacity: 0.6;
            margin-left: -250px;
            transition-timing-function: ease-in-out; 
            -webkit-transition-timing-function: ease-in-out;
        }
        .image-filter{
            position: relative;
            // background-color: blue;
            height: 400px;
            z-index: 999;
            opacity: 0.3;
        }
    }
}
.content-area{
    // background-color: #fff111;
    margin-bottom: 50px;
}
#brocum{
    position: absolute;
    top: 500px;
    left: 50px;
    li, a{
        display: inline;
        color: #fff;
        list-style: none;
        text-decoration: none;
        &:hover{color: #c1001d;}
    }
}

.service-page{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    position: relative;
    z-index: -1;
    text-align: center;
    .header-content{
        background-color: aquamarine;
        background-image: url('service_header.jpg');
        margin: 0 auto;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 500px; 
        overflow: hidden;
        position: relative;
        top: -50px;
        display: block;
        .header-image-cover{
            background-color: $soular_red;
            height: 500px;
            width: 100%;
            opacity: 0.5;
        }

    }

    .header-text {
        position: absolute;
        top: 150px;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        h1{
            // font-family: Roboto, sans-serif;
            font-size: 4em;
            color: #fff;
            text-transform: uppercase;
        }
        h3{color: #fff;}

    }
}
section.services.container{
    margin-top: 0px;
}
#service-row-top, #service-row-middle, #service-row-bottom{
    margin-bottom: 20px;
}
.service-card{
    padding-bottom: 10px; 
    margin: 0px auto;
    width: 100%;
    background-color: #fff;
    .service-card-text{
        text-align: center;
        h3{
            font-size: 18px;
            font-family: Roboto;
            font-weight: 400;
        }
        button{
            padding: 0px;
            margin: 0px auto;
            text-transform: lowercase;
            width: 60px;
            height: 25px;
            font-size: 10px;
            background: transparent;
            color: $soular_red;
            border-radius: 4px;
            border: 1px solid;
            border-color: $soular_red;
            &:hover{
                background-color: $soular_red;
                color: #fff;
            }
        }
    }
}
.service-side-left{
    h4{font-size: 25px !important;}
    // background-color: lightgray;
    .service-list{
        .active{
            padding: 5px 10px;
            text-decoration: none;
            color: #fff;
            background-color: lighten($soular-red, 0.5);
            border-radius: 4px;
            font-size: 16px;
        }
        a.stabs{ text-decoration: none; &:hover{color: #fff;} }
        a.stabs{
            // padding: 5px 5px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
            font-size: 14px;
            &:hover{
                padding: 5px 15px;
                text-decoration: none;
                background-color: lighten($soular-red, 0.5);
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                -webkit-transition-timing-function: ease-in-out;
                transition-timing-function: ease-in-out;
            }
        }
    }
}
.service-middle{
    padding: 0px 20px;
    .w3-ul li{
        margin-left: 50px;
        padding-left: 10px;
        list-style-type: square;
    }
}
.service-side-right{
    padding-left: 10px;
}
