
body{
  font-family: 'Roboto', sans-serif;
  ul>li{
    list-style: none;
  }
}
.w3-ul li{
  list-style: none;
}
.flash-notice{
  position: absolute;
  top: 80px;
  left: 140px;
  z-index: 1009;
  color: green;
}
.small-flash-notice{
    display: none;
    position: absolute;
    top: -20px;
    z-index: 1009;
    color: green;
  }
@media only screen and (max-width: 568px){
  .flash-notice{
    display: none;
  }
  .small-flash-notice{
    display: block;
    position: absolute;
    top: -20px;
    z-index: 1009;
    text-align: center;
    p.notice, p.alert{color: green; text-align: center;}
  }

}

// All Media Query start here >>
@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (max-width: 768px){
  //Home Slider Media query
  .slide-wrapper{
    background-color: black;
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 100%;
    overflow: hidden;
    img{
      position: relative;
      top: -50px;
      width: 100%;
      min-width: 1200px;
      min-height: 700px;
      opacity: .5;
      margin-left: -200px;
      transition-timing-function: ease-in-out; 
      -webkit-transition-timing-function: ease-in-out;
    }
  }
 
  //Home Slider Media query Ends here

  .header-wrapper{
    .header{
      background-color: black;
      position: relative;
      margin: 0 auto;
      height: 600px;
      width: 100%;
      overflow: hidden;

      img{
        position: relative;
        top: -50px;
        width: 100%;
        min-width: 1200px;
        min-height: 700px;
        opacity: .5;
        margin-left: -200px;
        transition-timing-function: ease-in-out; 
        -webkit-transition-timing-function: ease-in-out;
      }
    }
  }

  .footer{
    height: 40px;
    background-color:$soular-black;
    ul>li{
      display: inline-flex;
      margin: 5px auto;
      padding: 5px;
      font-size: 10px;
    }
  }

}
@media only screen and (max-width: 768px){
  .social-icon, .service-dropdown, .text-caption{
    display: none !important;
  
  }
  // .hidden-on-small{
  //   opacity: 0 !important;
  // }

}

//Media Query Ends here >>



.navbar-brand{
  // position: absolute;
  // top: 0px;
  margin: 0px;
  padding: 0px;
  height: 50px;
  img{
    width: 200px;
    height: 50px;
  }
}
.navbar {
    position: relative;
    min-height: 35px; 
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-top{
  position: relative;
  background: #fff;
  height: 100px;
  border-radius: 0;
  border: 0px;
  margin: 0px;
  z-index: 1000;
  .social-icon i, a{
    font-size: 25px;
    text-decoration: none;
  }
  .social-icon>li h4{color: $soular-red; font-weight: 400; font-family: 'Roboto', sans-serif; font-size: 16px;}

}

  // i.fa-facebook-square{color: blue;}
  // i.fa-twitter-square{color: lightblue;}
  // i.fa-linkedin-square{color: blue;}
.navbar-low{
  position: relative;
  background-color: black;
  padding: 4px 0px 0px 0px !important;
  border-radius: 0;
  border: 0px;
  margin: 0px;
  z-index: 1000;
  li{
    color: #fff;
    font-size: 14px;
  }
  li a:hover{
    color: #fff !important;
      // border-bottom: 2px solid;
      // border-color: $soular-red;
  }
  a.actives {
    border-bottom: 3px solid;
    border-color: $soular-red;
    color: #fff !important;

  }
  .w3-dropdown-hover{
    background: none !important;
    li a{
      color: #fff !important;
    }
  }
}



.scroll-cavet{
  position: absolute;
  top: 600px;
  left: 50%;
  width: 40px;
  z-index: 1002;
  margin-left: -20px;
  text-align: center;
  i{color: $soular-red; font-size: 30px;}
  -webkit-transition: 0.5s;
  transition: 0.5s;
  &:hover{top: 610px; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out;}
}
@media only screen and (max-width: 578px){
  .scroll-cavet{
    position: absolute;
    top: 670px;
    left: 50%;
    width: 40px;
    z-index: 1002;
    margin-left: -20px;
    text-align: center;
    i{color: $soular-red; font-size: 30px;}
    -webkit-transition: 0.5s;
    transition: 0.5s;
    &:hover{top: 680px; -webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out;}
  }
}
//Home slider styling
.slide-wrapper{
  background-color: black;
  position: relative;
  margin: 0 auto;
  height: 700px;
  width: 100%;
  overflow: hidden;
  img{
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1200px;
    min-height: 700px;
    opacity: .5;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .text-caption{
    position: absolute;
    float: left;
    top: 250px;
    left: 130px;
    .btn{background: transparent;}

    .jumbotron{
      background: transparent;
      float: left;
      text-align: left !important;
      width: 600px;
    }
  }
}

//Home Header styling
.welcome-header{
  position: relative;
  top: 0px;
  z-index: -100;
  .header-wrapper{
    .header{
      background-color: black;
      position: relative;
      margin: 0 auto;
      height: 600px;
      width: 100%;
      overflow: hidden;

      img{
        position: relative;
        top: -50px;
        width: 100%;
        min-width: 1200px;
        min-height: 700px;
        opacity: .5;
        -webkit-transition: 1s;
        transition: 1s;
      }
    }
  }
}
.header-text.jumbotron{
  background: transparent;
  position: absolute;
  top: 280px;
  left: 50%;
  z-index: 1;
  width: 80%;
  margin-left: -40%;
  text-align: center;
  .btn{
    background: transparent;
    border-color: $soular-red;

    &:hover{
      background-color: $soular-red;
    }
  }
  h1{
    color: #fff;
    font-size: 3em;
  } h5{color: #fff; letter-spacing: 3px; line-height: 18px;}
}
.home-service{
  .soular-sym-1, .soular-sym-2{
    position: absolute;
    // background-color: $soular-red;
    width: 100px;
    height: 100px;
    z-index: 1001;
  }
  .soular-sym-1{
    top: 220px;
    right: 50%;
    border-left: 30px solid;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: $soular-red;
    border-radius: 50% 0 0 50%;
  }
  .soular-sym-2{
    top: 290px;
    border-right: 30px solid;
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: $soular-red;
    border-radius: 0 50% 50% 0;
  }
}
.shop-front{
  // background-color: $soular-red;
  // padding-top: 50px;
  .caption-title-1, .caption-title-2, .caption-title-3, .caption-title-4{
    // position: relative;
    // top: -30px;
    // left: 50%;
    // width: 300px;
    // margin-left: -150px !important;
    text-align: center !important;
    h4{color: black;}
    h6{color: grey;}
  }
}
.footer-container{
  background-color: $soular-red;
  padding: 50px 0px;
  ul{
    padding: 0px;
    margin: 0px;
    li{
      // background-color: lightgray;
      padding: 0 10px;
      margin: 2px;

      a{color: lightgray;
        text-decoration: none;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        font-size: 12px;
        &:hover{
          padding-left: 10px; 
          font-size: 13px; 
          color: #fff; 
          // background-color: lightgray;
          -webkit-transition-timing-function: ease-in-out; 
          transition-timing-function: ease-in-out;
        }
      }
    }
  }
  #widget-3{
    p{font-size: 13px;}
    .social-icon i, a{
      font-size: 25px;
      text-decoration: none;
      color: #ebeff1 !important;
      &:hover{color: #ebeff1 !important; opacity: 0.8;}
    }
    .address{
      padding-left: 10px;
      p{padding: 0px !important; margin: 0px; color: #fff;}
    }
  }
  #widget-1, #widget-2, #widget-3, #widget-4{
    h2{
      font-size: 18px;
      padding-left: 10px;
      color: black;
    }
  }
  // background-color: $secondary-color;
  // height: 400px;
}
.link-top{
  display: none;
  position: fixed;
  top: 92%;
  right: 15px;
  z-index: 1010;
  padding: 5px;
  border: 1px solid;
  border-color: $soular-red;
  border-radius: 6px;
  background-color: $soular-mainblack;
  i{font-size: 20px; color: #fff;&:hover{opacity: 0.5;}}
  &:hover{background-color: $soular-black;}
}
nav.footer{
  background-color:black;
  padding: 10px 20px;
  p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
 
}




