
body{
  font-family: 'Roboto', sans-serif;
  ul>li{
    list-style: none;
  }
}
.w3-ul li{
  list-style: none;
}
@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.navbar {
    position: relative;
    min-height: 35px; 
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-top{
  position: relative;
  background: #fff;
  height: 100px;
  border-radius: 0;
  border: 0px;
  margin: 0px;
  z-index: 1000;
}
.navbar-low{
  position: relative;
  background-color: #000;
  border-radius: 0;
  border: 0px;
  margin: 0px;
  z-index: 1000;
  li:hover{
      background-color: $soular-red;
      // border-bottom: 3px solid;
      // border-color: $soular-red;
  }
  li.actives {
    color: #fff;
    background-color: $soular-red;
  }
}
.welcome-header{
  position: relative;
  top: 0px;
  z-index: -100;
  .header-wrapper{
    .header{
      background-color: black;
      position: relative;
      margin: 0 auto;
      height: 600px;
      width: 100%;
      overflow: hidden;

      img{
        position: relative;
        top: -50px;
        width: 100%;
        min-width: 1200px;
        min-height: 700px;
        opacity: .5;

      }
    }
    .header-text.jumbotron{
      background: transparent;
      position: absolute;
      top: 150px;
      left: 50%;
      z-index: 1000;
      width: 400px;
      margin-left: -200px;
      text-align: center;
      .btn{
        background: transparent;
        &:hover{
          background-color: $soular-red;
        }
      }
      h1{
        color: #fff;
        font-size: 3em;
      } h4{color: #fff;}
    }
  }
}
.footer-container{
  margin: 50px auto;
  ul{
    padding: 0px;
    margin: 0px;
    li{
      // background-color: lightgray;
      padding: 0 10px;
      margin: 2px;
      a{color: grey;
        text-decoration: none;
        &:hover{padding-left: 10px; font-size: 1em; color: #fff; background-color: lightgray;}
      }
    }
  }
  #widget-1, #widget-2, #widget-3{
    h2{
      font-size: 18px;
    }
  }
  // background-color: $secondary-color;
  // height: 400px;
}
.footer{
  height: 60px;
  background-color: $other-color;
  ul>li{
    display: inline-flex;
    margin: 10px auto;
    padding: 10px;
  }
}