$primary-color: #FF5714;
$secondary-color: #E8112D;
$other-color: #011627;
$soular-red: #c1001d;
$soular-black: #1B1B1B;
$soular-yellow: #ffa501;

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
.w3-tangerine {
  font-family: 'Tangerine', serif;
}
.w3-lobster {
	font-family: 'Lobster', sans-serif;
}
.w3-roboto {
	font-family: 'Roboto', sans-serif;
}