$primary-color: #FF5714;
$secondary-color: #E8112D;
$other-color: #011627;
$soular-red: #c1001d;
$soular-black: #000;
$soular-mainblack: #1B1B1B;
$soular-yellow: #ffa501;

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
.w3-tangerine {
  font-family: 'Tangerine', serif;
}
.w3-lobster {
	font-family: 'Lobster', sans-serif;
}
.w3-roboto {
	font-family: 'Roboto', sans-serif;
}

.z-depth-1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}